streamlit==1.34.0
pandas==2.2.2
matplotlib==3.8.4
spacy==3.7.4
keybert==0.8.3
textblob==0.18.0
torch==2.2.2
transformers==4.41.2
scikit-learn==1.5.0
nltk==3.8.1
contractions==0.1.73
bs4==0.0.2
beautifulsoup4==4.12.3
unicodedata2==15.1.0
sentence-transformers==2.7.0
